<div class="container">
  <img
    [src]="'assets/img/' + currentCity + '/' + currentCarId + '.png'"
    alt=""
    class="center"
  />
  <br />
  <br />
  <div *ngFor="let detail of currentCar.detail">
    <p>{{ detail.description }}</p>
    <hr />
    <p>kost per dag :{{ currentCar.cost }} Euro</p>
    <br />
  </div>
  <button [routerLink]="'/reserve/' + currentCity + '/' + currentCarId">
    reserve
  </button>
  <!-- </div> -->
  <!--
  git add .
  git commit -m 'your message here'
  git push
--></div>
