.card {
  padding-top: 10px;
}
p.card-text {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px 0;
  justify-content: space-between;
}
h2.card-title {
  text-align: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 0 1 24%;
}
